html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, input {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*- Soft red*/
/* Cyan*/
/*- Dark brown: */
/*- Medium brown: */
/*- Cream: */
/*- Very pale orange: */
body {
  width: 100%;
}

.main-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100vh;
  background: hsl(27deg, 66%, 92%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.row__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.subtitle {
  font-size: 14px;
  color: hsl(28deg, 10%, 53%);
}

.title {
  font-size: 22px;
  font-weight: 700;
}

.chart {
  max-width: 540px;
  width: 540px;
}
.chart__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.chart__header {
  width: 100%;
  background: hsl(10deg, 79%, 65%);
  padding: 33px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
}
.chart__title {
  margin-top: 20px;
  color: hsl(33deg, 100%, 98%);
}
.chart__section {
  margin-top: calc(12px + 13 * (100vw - 280px) / 1640);
  width: 100%;
  border-radius: 20px;
  background: hsl(33deg, 100%, 98%);
  padding: 33px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header__subtitle {
  color: hsl(33deg, 100%, 98%);
}

.section__title {
  color: hsl(25deg, 47%, 15%);
}

.graph {
  padding-bottom: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 1px solid hsl(27deg, 66%, 92%);
  margin-bottom: 36px;
}

.section__subtitle {
  color: hsl(28deg, 10%, 53%);
}

.difference {
  color: hsl(25deg, 47%, 15%);
  font-weight: 700;
  margin-top: 24px;
}

.total {
  margin-top: 20px;
  font-size: 37px;
  color: hsl(25deg, 47%, 15%);
}